/* global styles */
body{
  font-family: helvetica;
  }

a{
  text-decoration: none;
  color:#888;
}
/*app style*/
header{
     background: #555;
     height: 100px;
}
.inner{
width: 960px;
margin: 0 auto;
}

header img {
     margin-top: 15px;
     float: left;
}

header ul li{
     display: inline-block;
     margin: 60px;
     margin-top: 40px;
     }
main{
     width: 960px;
     margin: 0 auto;
     /*outline: dotted 2px orange;*/
     }
.hero_window{
     position: relative;
     /*outline: solid 3px red;*/
}
#hero{
z-index: -1;
/*position: absolute;*/
/*outline: dotted 2px blue;*/
}
#logo_2{
z-index: 1;
position: absolute;
/*outline: dotted 2px orange;*/
left: 380px;
/*margin-bottom: 175px;*/
top: 175px;
border-radius: 5px;
}
g_map{}
/*#location{
     margin: 20px;
}*/
